.button {
    background-color: white;
    border: none;
    font-size: large;
    margin-top: 3vh;
    outline: 0;
}

.button:hover {
    background-color: white;
    border: none;
    font-size: large;
    color: dodgerblue;
    cursor: pointer;
    outline: 0;
}

.select {
    margin-bottom: 2vh;
    outline: 0;
}

.zip {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    padding: 2px;
    outline: 0;
}

.zip:hover {
    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;
    outline: 0;
}

.zipContent {
    font-size: large;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 5px solid black;
    width: 50vw;
    height: 32vh;
    outline: 0;
}

.zipForm {
    padding-top: 7vh;
    padding-left: 2vh;
    padding-right: 2vh;
    outline: 0;
}